<div class ="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Quiz One...</h1>
    <h2>...Quiz two... ;)</h2>
    <h3>... Quiz three... ;))</h3>
    <br />
    <%= link_to 'Coolest Quizzes', '#', class: 'btn btn-success' %>
    <br />
  </div>
</div>

<div class='row feature text-center'>
  <div class='col-12 col-sm'>
    <h3>Why Quizzes?</h3>
    <br />
    <p>Check why quizzes are an important part of the learning process</p>
  </div>

  <div class='col-12 col-sm'>
    <h3>Quizzes database</h3>
    <br />
    <p>Find the best quizzes for your students</p>
  </div>

</div>