<div class ="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Quiz One...</h1>
    <h2>...Quiz two... ;)</h2>
    <h3>... Quiz three... ;))</h3>
    <br />
    <%= link_to 'Coolest Kids Quizzes', quizzes_path, class: 'btn btn-success' %>
    <br />
  </div>
</div>

<div class='row feature text-center'>
  <div class='col-12 col-sm'>
    <br />
    <h3>Why Quizzes?</h3>
    <br />
    <p>Quizzes are an important part of the learning process.</p>
    <br />
    <p>Researchers strongly suggest that non-graded quizzes are essential to learning and long-term memory.</p>  
    <br />
  </div>

  <div class='col-12 col-sm'>
    <br />
    <h3>Quizzes database</h3>
    <br />
    <p>Find here the best quizzes for your k-5 students</p>
    <br />
    <p> You can contribute too! Let's make this database a great one! ;)</p>
    <br />
  </div>

</div>